/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

body {
}

.hero {
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.hero-welcome {
    background-image: url(/images/il-castello-del-trebbio.jpg);

    img {
        width: 80vw;
        max-width: 20em;
        margin: 0 auto;
        margin-top: 5vh;
        display: block;
    }
}


    }
}

}

}

}

}

}
